[submodule "engine"]
	path = engine
	url = ../engine
	branch = main
[submodule "game"]
	path = game
	url = ../game
	branch = main
[submodule "hellwave-data"]
	path = hellwave-data
	url = ../hellwave-data
	branch = main
[submodule "hellwave-game"]
	path = hellwave-game
	url = ../hellwave-game
	branch = main
