[submodule "engine"]
	path = engine
	url = ../engine
[submodule "game"]
	path = game
	url = ../game
[submodule "hellwave-data"]
	path = hellwave-data
	url = ../hellwave-data
[submodule "hellwave-game"]
	path = hellwave-game
	url = ../hellwave-game
